body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.taskbar, .taskbar-2 {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.taskbar {
    background-color:pink;
}

.taskbar-2 {
    margin-right: 580px;
    margin-top: 60px;
    background-color: white;
}

.taskbar ul, .taskbar-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.taskbar li, .taskbar-2 li {
    float: left;
}

.taskbar-2 li {
    margin-right: 50px;
}

.taskbar li a, .taskbar-2 li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.taskbar li a:hover, .taskbar-2 li a:hover {
    background-color: #ddd;
    color: black;
}

.mucluc {
    font-size: 30px;
}

.facebook-logo {
    margin-left: 10px;
}

.facebook-logo img {
    width: 30px;
    height: auto;
}

h1, h3 {
    text-align: center;
    color: #000000;
}

h1 {
    font-size: 50px;
}

.h3 {
    margin-top: 100px;
}

p {
    font-size: 18px;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.main-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.container {
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button {
    color: white;
    padding: 15px 30px;
    background-color: green;
    font-size: 20px;
    font-weight: bold;
}

.course {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    font-weight: bolder;
    gap: 2em;
}

.course-tag {
    border: solid 1px;
    border-radius: 1em;
}