body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.taskbar {
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.taskbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.taskbar li {
    float: left;
}

.taskbar li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.taskbar li a:hover {
    background-color: #ddd;
    color: black;
}

.main-content {
    padding: 20px;
}

h1 {
    font-size: 28px;
    color: #ffffff;
}

p {
    font-size: 18px;
    color: #ffffff;
}
.main-content {
    position: relative;
    height: 100vh; /* Chiều cao của màn hình */
    background-image: url('./image/ucl-1.png'); /* Đường dẫn đến bức ảnh */
    background-size: cover;
    background-position: center;
    color: white; /* Màu sắc văn bản */
    text-align: center; /* Căn giữa văn bản */
    padding: 20px;
}

h1, p {
    position: relative;
    z-index: 1; /* Để văn bản hiển thị phía trên ảnh */
}

.main-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Hiển thị phía dưới văn bản */
}

.bcv-header{
    color:black;
    text-align: center;
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sub-container {
    text-align: center;
    margin: 10px;
}

.sub-container img {
    max-width: 100%;
    height: auto;
}